@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap");

body {
  font-family: "Fredoka One", cursive;
  font-family: "Poppins", sans-serif;
  background-color: #041562;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  margin-top: 20px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  font-family: "Poppins", sans-serif;
}
#boton-mascota:hover {
  cursor: pointer;
}

.titulo {
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 32px;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas {
  display: flex;
  gap: 10px;
}
.tarjetaMascota:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 20px;
}
.tarjeta-mokepon {
  width: 180px;
  height: 100px;
  background: #11468f;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.tarjeta-mokepon img {
  width: 80px;
}

input {
  display: none;
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-ataque {
  background-color: #11468f;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100px;
  color: white;
  font-family: "Poppins", sans-serif;
  border-color: transparent;
}
